.App {
  /* width: 100vw; */
  height: 100vw;
  background: var(--color-light);
}

.Container{
  width: 80%;
  margin: 0 auto;
  position: relative;
  top:2rem;
  display: grid;
  grid-template-columns:18vh auto 20vw;
  column-gap: 2rem;
  position: relative;
}
