.App {
  /* width: 100vw; */
  height: 100vw;
  background: var(--color-light);
}

.Container{
  width: 80%;
  margin: 0 auto;
  margin-left: 300px;
  position: relative;
  top:2rem;
  display: grid;
  grid-template-columns:25vh auto 20vw;

  
  column-gap: 2rem;
  position: relative;
}

.load {
  width:100%;
  height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.load div {
    width: 25px;
    height: 25px;
    background-color: orchid;
    margin-left: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: calc(50px - 12.5px);
    animation-name: loading;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.load-two {
    animation-delay: 0.4s;
}
.load-three {
    animation-delay: 0.8s;
}
@keyframes loading {
    to {
        opacity: 0.3;
        transform: translateY(-25px);
        -webkit-transform: translateY(-25px);
        -moz-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
        -o-transform: translateY(-25px);
}

}

@media screen and (max-width: 1200px) {
  .Container {
    width: 96%;
    grid-template-columns: 5rem auto 30vw;
    gap: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .Container {
    grid-template-columns: 0 auto 5rem;
    gap: 0;
  }
}