.App {
  /* width: 100vw; */
  height: 100vw;
  background: var(--color-light);
}

.Container{
  width: 80%;
  margin: 0 auto;
  position: relative;
  top:2rem;
  display: grid;
  grid-template-columns:25vh auto 20vw;
  column-gap: 2rem;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .Container {
    width: 96%;
    grid-template-columns: 5rem auto 30vw;
    gap: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .Container {
    grid-template-columns: 0 auto 5rem;
    gap: 0;
  }
}